$color: #00563f;
$deisgnColor: #f53537;
$backgroundSide: #eeeeee;
$backgroundNav: #f0f2f2;
$social: #708daa;

li {
    list-style: none;
}

.social {
    display: flex;
    li {
        font-size: 2.5rem;
        padding: .5rem;
        i {
            color: $social;
        }
    }
}


nav {

    ul {
        display: flex;

        .line {
            color: gray;
            font-size: 2.5rem;
            opacity: .5;
        }
        li {
            color: black;
            text-shadow: .2px .2px $deisgnColor;
            line-height: 1rem;
            font-size: 1.5rem;
            font-weight: bold;
            padding: 1.5rem;
        }
    }
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: $backgroundNav;
    box-shadow: 2px 22px 25px rgba(0, 0, 0, .1);
}

.logo-section {
    display: flex;
    align-items: center;
    .logo {
        height: 200px;
    }
    svg {
        font-size: 2rem;
    }
}



.sidebar {
    height: 100vh;
    min-height: 500px;
    width: 25%;
    position: absolute;
    top: 20.2%;
    left: 0;
    background-color: white;
    overflow: hidden;
    transition: width 0.2s;

     nav {
         padding-left: 50px;
         ul {
             display: flex;
             flex-direction: column;
             li {
                 padding: 10px;
                 a {
                     color: black;
                     text-decoration: none;
                    
                 }
                 &:hover {
                     background-color: whitesmoke;
                    }
             }

             .active {
                 display: none;
             }
             .gettingStarted {
                 display: none;
             }
             .components {
                 display: none;
             }
             .content {
                 display: none;
             }
             .helper {
                 display: none;
             }
             .custom {
                 display: none;
             }
             .guide {
                 display: none;
             }
             .style {
                 display: none;
             }
         }
     }
  }
  